@charset "utf-8";
/* CSS Document */

#imagen {
    margin-left: 0%;
    background-color: #000000;
    left: 20%;
    text-align: center;
}
#clothingnavcontent1 #home1 p {
    margin-left: 0%;
}
